.twinkle-stars {
    height: 100%; 
    width: 100%;
    background: linear-gradient(to top, #000020, #000000);
    position: relative;
}
.star {
    fill: #fff;
}
  
@keyframes twinkle {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
}
