.land {
    height: 720px;
    width: 1280px;
    z-index: 0;
    position: absolute;
}
.land-ground-img {
    height: 90px;
    width: 1480px;
    top: 630px;
    left: -100px;
    position: absolute;
}