.back-button-breader {
    top: 30px;
    left: 40px;
    width: 30px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    position: absolute;
    user-select: none;
    cursor: pointer;
}