.farm {
    height: 720px;
    width: 1280px;
    position: absolute;
}
.farm-ground-img {
    height: 90px;
    width: 1480px;
    top: 630px;
    left: -100px;
    user-select: none;
    position: absolute;
}
.barn-img {
    height: 450px;
    width: 450px;
    top: 180px;
    left: 415px;
    opacity: 0.8;
    user-select: none;
    position: absolute;
}