.farm {
    height: 100%;
    width: 100%;
    position: relative;
}
.ground-img {
    height: 90px;
    width: 1280px;
    top: 630px;
    left: 0px;
    position: absolute;
}
.barn-img {
    height: 500px;
    width: 500px;
    top: 130px;
    left: 390px;
    position: absolute;
}