.farm {
    height: 720px;
    width: 1280px;
    position: absolute;
}
.farm-ground-img {
    height: 90px;
    width: 1480px;
    top: 630px;
    left: -100px;
    position: absolute;
}
.barn-img {
    height: 500px;
    width: 500px;
    top: 130px;
    left: 390px;
    position: absolute;
}