.title {
    top: 110px;
    margin:0 140px;
    width: 1000px;
    font-size: 70px;
    color: white;
    position: absolute;
    user-select : none;
}

.newgame-button {
    top: 500px;
    transform: translate(-50%, -50%);
    width: 340px;
    height: 60px;
    font-size: 25px;
    cursor: pointer;
    background-color: lightgray;
    border-width: medium;
    border-color: #000000;
    z-index: 1;
    position: absolute;
    user-select : none;
}

.continue-button {
    top: 580px;
    transform: translate(-50%, -50%);
    width: 340px;
    height: 60px;
    font-size: 25px;
    cursor: pointer;
    background-color: lightgray;
    border-width: medium;
    border-color: #000000;
    z-index: 1;
    position: absolute;
    user-select : none;     
    pointer-events: default;
}

.newgame-button:hover {
    background-color: darkgray;
}
.continue-button:hover {
    background-color: darkgray;
}